<mat-sidenav-container>
    <mat-sidenav mode="side"
        [(opened)]="opened">sidenav</mat-sidenav>
    <mat-sidenav-content>
        <app-typography></app-typography>
        <hr>
        <app-buttons></app-buttons>
        <hr>
        <app-button-toggle></app-button-toggle>
        <hr>
        <app-icons></app-icons>
        <hr>
        <app-badges></app-badges>
        <hr>
        <app-progress-spinner></app-progress-spinner>
        <hr>
        <app-menu></app-menu>
        <hr>
        <app-list></app-list>
        <hr>
        <app-grid-list></app-grid-list>
        <hr>
        <app-expansion-panel></app-expansion-panel>
        <hr>
        <app-cards></app-cards>
        <hr>
        <app-tabs></app-tabs>
        <hr>
        <app-stepper></app-stepper>
        <hr>
        <app-inputs></app-inputs>
        <hr>
        <app-select></app-select>
        <hr>
        <app-autocomplete></app-autocomplete>
        <hr>
        <app-checkbox></app-checkbox>
        <hr>
        <app-radio-button></app-radio-button>
        <hr>
        <app-date-picker></app-date-picker>
        <hr>
        <app-tooltip></app-tooltip>
        <hr>
        <app-snackbar></app-snackbar>
        <hr>
        <app-dialog></app-dialog>
        <br><br>
    </mat-sidenav-content>
</mat-sidenav-container>