<mat-sidenav-container>
    <mat-sidenav mode="side"
        [(opened)]="opened">sidenav</mat-sidenav>
    <mat-sidenav-content>
        <app-typography></app-typography>
        <hr>
        <app-buttons></app-buttons>
        <hr>
        <app-button-toggle></app-button-toggle>
        <hr>
        <app-icons></app-icons>
        <hr>
        <app-badges></app-badges>
        <hr>
        <app-progress-spinner></app-progress-spinner>
        <hr>
        <app-menu></app-menu>
        <hr>
        <app-list></app-list>
        <hr>
        <app-grid-list></app-grid-list>
        <hr>
        <app-expansion-panel></app-expansion-panel>
        <hr>
        <app-cards></app-cards>
        <br><br>
    </mat-sidenav-content>
</mat-sidenav-container>