<h1>[ List ]</h1>

<mat-list dense>
    <mat-list-item>item 1</mat-list-item>
    <mat-list-item>item 2</mat-list-item>
    <mat-list-item>item 3</mat-list-item>
</mat-list>

<mat-nav-list>
    <a mat-list-item href="#"> home </a>
    <a mat-list-item href="#"> about </a>
    <a mat-list-item href="#"> services </a>
</mat-nav-list>

<mat-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>heading</h3>
        <p matLine>line</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>heading 2</h3>
        <p matLine>line 2</p>
    </mat-list-item>
</mat-list>