<h1>[ Stepper ]</h1>

<mat-horizontal-stepper linear>
    <mat-step label="shipping address" completed=true>
        <p>shipping address details</p>
    </mat-step>
    <mat-step label="billing address" completed=false optional>
        <p>billing address details</p>
        <div>
            <button mat-button matStepperPrevious>back</button>
            <button mat-button matStepperNext>next</button>
        </div>
    </mat-step>
    <mat-step label="place order" completed=false>
        <p>order details</p>
    </mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper linear>
    <mat-step label="shipping address" completed=true>
        <p>shipping address details</p>
    </mat-step>
    <mat-step label="billing address" completed=false optional>
        <p>billing address details</p>
        <div>
            <button mat-button matStepperPrevious>back</button>
            <button mat-button matStepperNext>next</button>
        </div>
    </mat-step>
    <mat-step label="place order" completed=false>
        <p>order details</p>
    </mat-step>
</mat-vertical-stepper>