<h1>[ Buttons ]</h1>

<div>
  <button mat-button>click me!</button>
  <button mat-raised-button>click me!</button>
  <button mat-flat-button>click me!</button>
  <button mat-stroked-button>click me!</button>
</div>

<br>

<div>  
  <button mat-icon-button>icon</button>
  <button mat-fab>fab</button>
  <button mat-mini-fab>minifab</button>
</div>

<div>
  <button color="primary" mat-button>primary</button>
  <button color="accent" mat-button>accent</button>
  <button color="warn" mat-button>warn</button>

  <button color="primary" mat-raised-button>primary</button>
  <button color="accent" mat-raised-button>accent</button>
  <button color="warn" mat-raised-button>warn</button>

  <button color="primary" mat-flat-button>primary flat</button>
  <button color="accent" mat-stroked-button>accent stroked</button>
  <button color="warn" mat-raised-button>warn raised</button>
</div>