<h1>[ Expansion-Panel ]</h1>

<mat-accordion multi="true" hideToggle>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                angular fundamentals
            </mat-panel-title>
            <mat-panel-description>
                total duration: 3 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>this is the panel content. add course details.</p>
        <mat-action-row>
            <button mat-button>enroll</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                angular material
            </mat-panel-title>
            <mat-panel-description>
                total duration: 2 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>this is the panel content. add course details.</p>
        <mat-action-row>
            <button mat-button>enroll</button>
        </mat-action-row>
    </mat-expansion-panel>

</mat-accordion>