<h1>[ Typography ]</h1>

<div class="mat-display-4">this is display 4</div>
<div class="mat-display-3">this is display 3</div>
<div class="mat-display-2">this is display 2</div>
<div class="mat-display-1">this is display 1</div>

<div class="mat-headline">this is a heading for h1</div>
<div class="mat-title">this is a heading for h2</div>
<div class="mat-subheading-2">this is a heading for h3</div>
<div class="mat-subheading-1">this is a heading for h4</div>

<div class="mat-typography">
  <h1>this is a heading for h1</h1>
  <h2>this is a heading for h2</h2>
  <h3>this is a heading for h3</h3>
  <h4>this is a heading for h4</h4>
</div>

<div class="mat-body-1">this is body text</div>
<div class="mat-body-2">this is bold body text</div>
<div class="mat-caption">this is caption text</div>